* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f1f3f6;
    font-family: BlinkMacSystemFont,'Open Sans',HelveticaNeue,sans-serif;
}
ul {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.btn {
    cursor: pointer;
    align-items: center;
    border-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    pointer-events: auto;
}
.ml-5 {
    margin-left: 5px;
}
.btn-line {
    background: #000;
    color: #fff;
}

.btn-neutral {
    background-color: rgba(255,255,255, 1);
    border-color: rgba(0,0,0,.1);
    border-width: 1px;
    color: rgba(64,65,79, 1);
    font-size: .875rem;
    line-height: 1.25rem;
}
header {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 80px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    padding: 30px 80px;
}
.main-container {
    display: flex;
    gap: 30px;
}
.main-menu {
    border: 1px solid rgba(0,0,0,.1);
    width: 300px;
    border-radius: 4px;
    background: #ffffffd2;
    padding-top: 10px;
    padding-bottom: 10px;
}
li {
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
}
li:hover {
    transition: .3s;
    background: rgba(192,192,192,.2);
}
.container {
    background: #ffffffd2;
    border-radius: 7px;
    padding: 10px 15px;
    max-width: 900px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
}
.block-auth {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
input {
    outline: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px 10px;
}
.input p {
    color: #000;
    margin-bottom: 8px;
    font-size: .875rem;
    text-align: left;
}
.btn-inline-block {
    width: 300px;
    display: flex;
    gap: 10px;
}
.btn-inline-block .btn-line {
    width: 100%;
}
.textarea p {
    color: #000;
    margin-bottom: 8px;
    font-size: .875rem;
    text-align: left;
}
textarea {
    outline: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px 10px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.tag {
    background: rgba(192,192,192,.3);
    border-radius: 7px;
    padding: 5px;
}
/* #d9d9e3 */