* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
}
::-webkit-scrollbar {
    width: 0;
}
html, body {
    height: 100%;
}
.block-achievements-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    background: #1a2c38;
    font-family: sans-serif;
    cursor: default;
    line-height: 1;
    font-size: 16px;
    touch-action: manipulation;
    color: #d5dceb;
}
.line {
    margin: 10px 0px;
    border-top: 2px solid #1a2c38;
}
input {
    padding: .5em;
    color: #fff;
    background: #0f212e;
    border: 2px solid #2f4553;
    border-radius: .25rem;
}
select {
    outline: none;
    padding: .5em;
    color: #fff;
    background: #0f212e;
    border: 2px solid #2f4553;
    border-radius: .25rem;
}
select:focus {
    border-color: #557086;
}
select:active {
    border-color: #557086;
}
input:hover {
    border-color: #557086;
}
input:focus {
    border-color: #557086;
}
input:active {
    border-color: #557086;
}
a {
    color: #fff;
    background: 0 0;
    box-shadow: none!important;
    /* padding: .75em 1em; */
    font-size: .875rem;
    line-height: 150%;
    font-weight: 600;
}

.left-sidebar-header {
    align-items: center;
    text-align: center;
}
.main-links-profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}
.main-links-profile svg {
    color: #fff;
    fill: #fff;
    
}
.main-links-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
} 
a, button, input {
    outline: none;
    text-decoration: none;
}
.input {
    display: flex;
    flex-direction: column;
}
.input input {
    margin-top: 7px;
    margin-bottom: 3px;
    width: 100%;
}
.dropped-forums {
    padding-left: 20px;
    color: #d5dceb;
}
.user-card {
    display: flex;
    flex-direction: column;
}
.popup {
    background: #0f212e;
    border-radius: .25rem;
    position: absolute;
   
    height: fit-content;
    z-index: 300;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;

}
#popup-notification {
    top: 70px;
    right: 40px;
    width: 250px;
}
#popup-search {
    top: 70px;
    right: 180px;
    width: 350px;
}
.main-content-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
} 

.main-content-information {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.main-content-information-date {
    font-size: .75rem;
    margin-top: 5px;
    color: #d5dceb;
}
.main-content-information-title {
    word-wrap: break-word;
    margin-bottom: 7px;
    font-size: large;
    font-weight: 600;
}
.main-content-header {
    margin-top: 2rem;
    border-radius: .25rem;
    background: #213743;
    display: flex;
    padding: .9rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
}
.r_icon img {
    width: 16px;
}
.r_icon-contest {
    background: #2f4553;
    border-radius: 50%;
    padding: .3rem;
}
.main-content-header-right {
    display: flex;
    align-items: center;
    gap: 4px;
}
.r_icon span {
    color: #d5dceb;
    margin-left: 5px;
}
.r_icon {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    background: #0f212e;
    padding: 5px;
    border-radius: 1rem;
}
.main-content-header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.popup-content-body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column;
    text-align: center; */
}
.popup-content-title {
    padding: .3rem .5rem;
}
#popup-user {
    top: 70px;
    right: 10px;
    width: 150px;
}
.img-content {
    text-align: center;
}
.user-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
.popup-content {
    padding: .5rem 0;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.main-content-base {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.main-content-base-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-block-user {
    display: flex;
    gap: 5px;
    align-items: center;
}
.theme-block-user img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.theme-blocks {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.theme-blocks a {
    color: #d5dceb;
    font-weight: 500;
}
.theme-blocks-block {
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    padding: .9rem;
}
.theme-block-title {
    word-wrap: break-word;
    margin-bottom: 7px;
    font-size: large;
    font-weight: 600;
}
.theme-block-date {
    font-size: .75rem;
    margin-top: 5px;
}

.theme-grey {
    background: #213743;
}
.theme-black {
    background: transparent;
}
.filter {
    background: #0f212e;
    display: flex;
    border-radius: 3rem;
    padding: 5px;
    flex-shrink: 0;
    flex-direction: column;
}
.comment-block-user {
    display: flex;
    gap: 5px;
    align-items: center;
}
.comment-block-user img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.comment-blocks {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.comment-blocks a {
    color: #d5dceb;
    font-weight: 500;
}
.create-comment {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.create-comment input {
    width: 100%;

}
.create-comment button {
    width: 300px;
    padding: 0.5em;
}
.comment-blocks-block {
    display: flex;
    justify-content: space-between;
    border-radius: .25rem;
    padding: .9rem;
}
.comment-block-title {
    word-wrap: break-word;
    margin-bottom: 7px;
    font-size: large;
    font-weight: 600;
}
.comment-block-date {
    font-size: .75rem;
    margin-top: 5px;
}
.block-rating {
    background: #2f4553;
    padding: .75em 1em;
    border-radius: 3rem;
}
.filter-content {
    cursor: pointer;
    align-items: center;
    gap: 7px;
    display: flex;
    background: #2f4553;
    padding: .75em 1em;
    border-radius: 3rem;
}
.filter-content svg {
    color: #fff;
    fill: #fff;
}
.popup-content a {
    position: relative;
    border-radius: .25rem;
    color: #fff;
    background: 0 0;
    box-shadow: none!important;
    padding: .75em 1em;
    font-size: .875rem;
    font-weight: 600;
    width: 100%;
    line-height: 150%;
}
.popup-content a:hover {
    background: #071824;
}
.dropdown-content-block {
    display: flex;
    align-items: center;
    gap: 5px;
}
.left-sidebar-content a {
    display: flex;
    align-items: center;
    gap: 7px;
}
.left-sidebar-content svg {
    fill: #fff;
    color: #fff;
}
.input span {
    color: #fff;
    font-size: .975rem;
}
span.error {
    font-size: .8rem;
    display: none;
    color: red;
}
.wrap {
    min-height: 100%;
    display: flex;
}

.left-sidebar {
    width: 250px;
    word-wrap: break-word;
    position: relative;
    background: #0f212e;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    will-change: margin-left;
}

.left-sidebar-header {
    height: 60px;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
}

.left-sidebar-content {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem 0 .5rem .6rem;
    touch-action: pan-x;
    flex: 1;
    gap: 10px;
}
.left-sidebar-content a {
    color: #fff;
    background: 0 0;
    box-shadow: none!important;
    padding: .75em 1em;
    font-size: .875rem;
    line-height: 150%;
    border-radius: 100px;
    font-weight: 600;
}
.left-sidebar-content a:hover {
    color: #fff;
    background: #071824;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-header {
    height: 60px;
    background: #1a2c38;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
    width: 100%;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
button {
    border: none;
    cursor: pointer;
    touch-action: manipulation;
    border-radius: .25rem;
}
.v1 {/* синяя */
    color: #fff;
    padding: .75em 1em;
    font-size: .875rem;
    font-weight: 600;
    line-height: 150%;
    background: #1475E1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12), inset 0 1px rgba(255, 255, 255, .04);;
} 
.v2 {
    color: #fff;
    padding: .75em 1em;
    font-size: .875rem;
    font-weight: 600;
    line-height: 150%;
    background: #2f4553;
}
.main-content {
    transition: margin-left 0.3s;
    transition: width 0.3s;
    padding: 0 3vw;
}
.filter-select {
    position: absolute;
    top: 180px;
    background: #0f212e;
    height: 50px;
    width: 300px;
}
.input-search {
    padding: .3em;
    border-radius: .25rem;
    display: flex;
    gap: 7px;
    align-items: center;
}
.input-search img {
    width: 20px;
    height: 20px;
}
.main-content-title {
    margin-top: 1.5rem;
}
.main-content-title h1 {
    font-size: 1.125rem;
}
.main-content-other {
    display: flex;
    gap: 1rem;
}
.main-content-body-topic {
    margin-top: 1rem;
    border-radius: 0.25rem;
    background: #213743;
    padding: 0.9rem;
}
.main-content-body {
    margin-top: 1.5rem;
}
.main-content-other-left {
    height: fit-content;
    padding: .5rem 0;
    position: sticky;
    top: 2em;
    max-width: 100%;
    min-width: 180px;
    background: #0f212e;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(14,18,36,.7);
    touch-action: none;
}
#modal-login {
    display: none;
}
#modal-info {
    display: none;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-popup {
    position: fixed;
    top: 70px;
    left: 260px;
    height: fit-content;
    background: #0f212e;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
    padding: .1rem .2rem;
    border-radius: .5rem;
    width: 300px;
    z-index: 9999;
}
.modal-card {
    
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    max-height: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    background: #1a2c38;
    color: #b1bad3;
    overflow: hidden;
}
.notification-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#modal-pick-forum-id {
    display: none;
}
.notification-content-block-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.notification-content-block {
    padding: .5rem .6rem;
    display: flex;
    gap: 7px;
    border-bottom: 1px solid #2f4553;
}
.notification-content-block img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.modal-card-header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    touch-action: none;
}
.modal-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    padding-right: 1.5rem;;
    padding-left: 1.5rem;;
    padding-bottom: 1.25rem;;
}
.main-content-other-left a {
    position: relative;
    border-radius: 0;
    color: #fff;
    background: 0 0;
    box-shadow: none!important;
    padding: .75em 1em;
    font-size: .875rem;
    font-weight: 600;
    width: 100%;
    line-height: 150%;
}
.main-content-other-left a:hover {
    background: #071824;
}
.main-content-other-left a.active {
    background: #071824;
}
.card {
    padding: 1.5rem;
    background: #0f212e;
    border-radius: .5rem;
}
.main-content-other-right {
    width: 100%;
}
.main-content-other-right .card {
    width: 100%;
}
